.wholetable {
   margin-top: 30px;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 300 px;
   width: 30%;
   border-style: solid;
   border-color:lightgray;
   border-collapse:collapse;
}

#table_data_banner{
   margin: 0px;
   border: 0px;
   padding: 0px;
}

#img_container{
   margin: 0px;
   border: 0px;
   padding: 0px;
   overflow: hidden;
   max-height: 135px;
   position:relative;
}

.crop{
   height:340px;
   width: 609px;
   top: -205px;
   position:relative;
}

#business_search_font{
   font-family: Arial, sans-serif;
   color:white;
   font-weight:550;
   font-size: 22px;
   position:absolute;
   top: 40px;
   left: 40px;
}

#after_business_search{
   font-family: Arial, sans-serif;
   color: white;
   font-weight: 350;
   font-size: 20px;
   position: absolute;
   top: 85px;
   left: 40px;
}

.input_form{
   margin-top: 20px;
   margin-left: 40px;
   margin-right: 40px;
}

.required:after{
   content: "*";
   color:red;
}

.label_fields{
   font-family: Arial, sans-serif;
   font-size: 15px;
   color: #6c84bc;
   float: left;
   margin-bottom: 4px;
}

#keyword_input{
   clear:left;
   margin-bottom:18px;
}

.input_size{
   width:519px;
   margin-bottom: 4px;
}

.distance_input{
   margin-bottom:18px;
   position:relative;
   top: 8px;
   left: -103px;
}

.category_input{
   width:270px;
   margin-bottom: 18px;
   position:relative;
   top:3px;
}

.flex_container {
   display: flex;
}

.flex_child {
   flex: 1;
}

#location_input{
   clear:left;
   margin-bottom:18px;
}

.location_auto_detection{
   font-family: Arial, sans-serif;
   font-size: 18px;
   color: #6c84bc;
   float: left;
   margin-bottom: 25px;
}

#horizontal_blue_line{
   color:#6c84bc;
   width:524px;
}

.submit_button{
   background-color: #6c84bc;
   color: white;
   margin: 0px;
   padding-top: 12px;
   padding-bottom: 12px;
   padding-left: 24px;
   padding-right: 24px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   border-bottom-width: 4px;
   border-bottom-color: darkgray;
   font-size: 1em;
   font-weight: lighter;
}

.submit_button:hover{
   background-color: lightgray;
}

.clear_button{
   background-color: #ffb706;
   color: white;
   border: 0.5px solid black;
   margin: 0px;
   padding-top: 12px;
   padding-bottom: 12px;
   padding-left: 24px;
   padding-right: 24px;
   border-bottom-width: 4px;
   border-bottom-color: gray;
   font-size: 1em;
   font-weight: lighter;
}

.clear_button:hover{
   background-color: lightgray;
   opacity: .8;
}