.wholetable {
   margin-top: 30px;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 300 px;
   width: 70%;
   border-style: solid;
   border-color: gray;
}

#img_background {
   background-image: url(hw6_photo/banner.jpeg);
   background-repeat: no-repeat;
}

#business_search_font{
   font-family:, sans-serif;
   color:white;
   font-weight: bold;
}