.over{
   /*border: 1px solid pink;*/
   margin-left: 13%;
   margin-right: auto;
   margin-top: 65px;
   width: 75%;
   position:fixed;
}

.picture{
   width: 32%;
   position:static;
   float:left;
}

.pic{
   display: block;
   width: 100%;
   border-radius: 1em;
}

.holder{
   width:65%;
   float: left;
}

.name{
   font-family: Georgia, sans-serif;
   font-weight: 300px;
   font-size: 80px;
   color: rgb(78, 175, 78);
   text-align: center;
   margin-top: 60px;
}

.socials{
   margin-top: 20px;
   text-align: center;
   font-size: 18px;
   color: rgb(200, 198, 198);
   font-family: Georgia, sans-serif;
}

.nav{
   /*border: 1px solid green;*/
   font-family: Georgia, sans-serif;
   position: fixed;
   color: rgb(200, 198, 198);
   font-size: 23px;
   margin-top: 360px;
   margin-left: 13%;
   overflow-x: hidden; /* Disable horizontal scroll */
}

.content_container{
   /*border: 1px solid green;*/
   position: fixed;
   margin-left: 36%;
   width: 50%;
   height: 50%;
   margin-top: 360px;
}

.content{
   /*border: 1px solid blue;*/
   font-family: Georgia, sans-serif;
   position: static;
   color: rgb(200, 198, 198);
   font-size: 20px;
   height:95%;
   overflow:scroll;
   line-height: 1.5;
   white-space: pre-wrap;
}

.socials a:link{
   color: rgb(200, 198, 198);
   background-color: transparent;
   text-decoration: none;
}

.socials a:active{
   color: rgb(200, 198, 198);
   background-color: transparent;
   text-decoration: none;
}

.socials a:visited{
   color: rgb(200, 198, 198);
   background-color: transparent;
   text-decoration: none;
}

.socials a:hover{
   text-decoration: underline;
   cursor: pointer;
}


.nav a:link{
   color: rgb(200, 198, 198);
   background-color: transparent;
   text-decoration: none;
}

.nav a:focus{
   color: rgb(200, 198, 198);
   background-color: green;
   text-decoration: underline;
}

.nav a:visited{
   color: rgb(200, 198, 198);
   background-color: transparent;
   text-decoration: none;
}

.nav a:hover{
   color: rgb(200, 198, 198);
   background-color: green;
   text-decoration: underline;
}

.disp_text a:link{
   color: rgb(200, 198, 198);
   background-color: transparent;
   text-decoration: none;
}

.disp_text a:active{
   color: rgb(200, 198, 198);
   background-color: transparent;
   text-decoration: none;
}

.disp_text a:visited{
   color: rgb(200, 198, 198);
   background-color: transparent;
   text-decoration: none;
}

.disp_text a:hover{
   color: rgb(200, 198, 198);
   background-color: green;
   text-decoration: none;
}

#update{
   color: gray;
   font-size: 12px;
   font-family: Georgia, sans-serif;
   position:absolute;
   bottom: 0;
   left: 50%;
   transform: translate(-50%, -50%);
}

/*---------------------------------*/