/* CSCI 571: Homework 6 - Steve Regala - 7293040280 - Fall 2022 */

.wholetable {
   margin-top: 30px;
   margin-left: auto;
   margin-right: auto;
   width: 30%;
   border-style: solid;
   border-color:lightgray;
   border-collapse:collapse;
   border-width: 5px;
}

#table_data_banner{
   margin: 0px;
   border: 0px;
   padding: 0px;
}

#img_container{
   margin: 0px;
   border: 0px;
   padding: 0px;
   overflow: hidden;
   max-height: 135px;
   position:relative;
}

.crop{
   height:340px;
   width: 609px;
   top: -205px;
   position:relative;
}

#business_search_font{
   font-family: Arial, sans-serif;
   color:white;
   font-weight:550;
   font-size: 22px;
   position:absolute;
   top: 40px;
   left: 40px;
}

#after_business_search{
   font-family: Arial, sans-serif;
   color: white;
   font-weight: 350;
   font-size: 20px;
   position: absolute;
   top: 85px;
   left: 40px;
}

.input_form{
   margin-top: 20px;
   margin-left: 40px;
   margin-right: 40px;
}

.required:after{
   content: "*";
   color:red;
}

.label_fields{
   font-family: Arial, sans-serif;
   font-size: 15px;
   color: #6c84bc;
   float: left;
   margin-bottom: 4px;
}

#keyword_input{
   clear:left;
   margin-bottom:18px;
}

.input_size{
   width:519px;
   margin-bottom: 4px;
}

.distance_input{
   margin-bottom:18px;
   position:relative;
   top: 8px;
   left: -103px;
}

.category_input{
   width:270px;
   margin-bottom: 18px;
   position:relative;
   top:3px;
}

.flex_container {
   display: flex;
   margin-bottom:7px;
}

.flex_child {
   flex: 1;
}

#location_input{
   clear:left;
   margin-bottom:18px;
}

.location_auto_detection{
   font-family: Arial, sans-serif;
   font-size: 18px;
   color: #6c84bc;
   float: left;
   margin-bottom: 25px;
}

#horizontal_blue_line{
   color:#6c84bc;
   width:524px;
}

.submitClear{
   margin-bottom: 24px;
}

.submit_button{
   background-color: #657bb1;
   color: white;
   margin: 0px;
   padding-top: 12px;
   padding-bottom: 12px;
   padding-left: 24px;
   padding-right: 24px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   border-bottom-width: 4px;
   border-bottom-color: darkgray;
   font-size: 1em;
   font-weight: lighter;
}

.submit_button:hover{
   background-color:#7b96d9;
}

.clear_button{
   background-color: #ffb706;
   color: white;
   border: 0.5px solid black;
   margin: 0px;
   padding-top: 12px;
   padding-bottom: 12px;
   padding-left: 24px;
   padding-right: 24px;
   border-bottom-width: 4px;
   border-bottom-color: gray;
   font-size: 1em;
   font-weight: lighter;
}

.clear_button:hover{
   background-color:#caac5f;
}

.final{
   margin-left:auto;
   margin-right:auto;
   margin-top: 0px;
   width:85%;
   font-family: Arial, sans-serif;
}

.final_result_table{
   margin-left:auto;
   margin-right:auto;
   margin-top: 115px;
   width:85%;
   background-color: lightgray;
   table-layout: fixed;
}

.table_head{
   background-color: rgb(82, 118, 202);
   color:black;
   height:50px;
   font-weight: bold;
}

.no_record{
   width:65%;
   margin-left:auto;
   margin-right:auto;
   text-align: center;
   border:2px solid gray;
   font-family: Arial, sans-serif;
}

.number_setting{
   width:24px;
   border:none;
   text-align: center;
   font-weight: bold;
}

.image_setting{
   width:64px;
   border:none;
   text-align: center;
   font-weight: bold;
}

.business_setting{
   width:245px;
   border:none;
   text-align: center;
   font-weight: bold;
}

.business_setting:hover{
   cursor:pointer;
}

.rating_setting{
   width:88px;
   border:none;
   text-align: center;
   font-weight: bold;
}

.rating_setting:hover{
   cursor:pointer;
}

.distance_setting{
   width:95px;
   border:none;
   text-align: center;
   font-weight: bold;
}

.distance_setting:hover{
   cursor: pointer;
}

.table_row_setting{
   height:120px;
   background-color: white;
   text-align: center;
}

.image_detail{
   border:none;
   background-color: white;
   background-position: center;
   position:relative;
   height:120px;
   width: 100%;
   display: block;
}

.business_name:hover{
   color:rgb(188, 182, 182);
   cursor: pointer;
}

.div_details{
   margin-left:auto;
   margin-right:auto;
   margin-top: 110px;
   width:60%;
   font-family: Arial, sans-serif;
   text-align: center;
   font-size: 1.3em;
   font-weight: bold;
   /*border: 15px solid lightgray;*/
}

.display_blue_line{
   color:#7f9bdc;
   width:95%;
}

.disp_table{
   margin-left:auto;
   margin-right:auto;
   margin-top: 50px;
   width:100%;
   table-layout: fixed;
   background-color: white;
   border: 15px solid lightgray;
}

.display_title{
   text-align: center;
   padding-top:20px;
}

.inside_table{
   margin-left:auto;
   margin-right:auto;
   margin-top: 40px;
   width:96%;
   table-layout: fixed;
}

.not_present{
   color: white;
}

.present{
   text-align: left;
}

.open_now{
   font-weight: lighter;
   text-align: left;
   background-color: green;
   border-radius: 25px;
   margin-right: 75%;
   text-align: center;
   height:2em
}

.closed_now{
   font-weight: lighter;
   text-align: left;
   background-color: red;
   border-radius: 25px;
   margin-right: 75%;
   text-align: center;
   height:2em
}

.status{
   margin: 0%;
   padding-top: 13%;
   font-size: small;
}

.category_details{
   font-size: 0.7em;
   text-align: left;
   font-weight: 20;
   margin-top: -5px;
}

.add_phone_tra_pr_info{
   padding-top: 2em;
   text-align: left;
}

.rest_details{
   font-size: 0.7em;
   text-align: left;
   font-weight: 20;
   margin-top: -5px;
   padding-top: 0.4em;
}

.yelp_link_details{
   font-size: 0.7em;
   text-align: left;
   font-weight: 20;
   margin-top: -5px;
   padding-top: 0.4em;
}

.yelp_link_details:hover{
   cursor: pointer;
}

.yelp_images{
   width: 200px;
   height:400px;
   position:relative;
   text-align: center;
   vertical-align: top;
   border: 1px solid lightgray;
}

.crop_yelp_images{
   width:100%;
   height:100%;
   object-fit: contain;
   position:relative;
}

.photo_caption{
   font-size: 0.7em;
   font-weight: 20;
   margin-top: -5px;
   padding-top: 0.4em;
   position:absolute;
   bottom:0;
   right: 40%;
}

.separate_pictures{
   margin-right: 10px;
}